openapi: 3.1.0
info:
  title: Web Utils API
  version: 1.0.0
  description: Web Utils API Reference
paths:
  /api/hololist:
    get:
      summary: VTuber データベースの検索
      description: https://hololist.net/ のデータをフェッチします。
      parameters:
        - in: query
          name: keyword
          schema:
            type: string
          required: false
          description: 検索キーワード
      responses:
        '200':
          description: 正常レスポンス
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
